#visor
{
    display:grid;
}

iframe
{
    border-radius: 5px;
    border:1px solid grey;
    width: 30vw;
    height: 30vw;
    justify-self:center;
    box-shadow: ;
}

#botones
{
    display:grid;
    grid-template-columns: repeat(2, 29.9%);
    margin: 1% auto;
    gap: 1%;
    width: 50%;
    justify-content: center;
}

button
{
    padding: 2% 0;
    background-color: blue;
    border: 1px solid grey;
    border-radius: 5px;
}

button a{
    text-decoration: none;
    color:white;
    display:block;
}

h3
{
    text-align: center;
}
