body
{
    padding: 0.5vw;
}


#cabecera_principal
{
    border-bottom: 1px solid gray;
    margin-bottom: 4vw;
}

#pie_principal
{
    border-top: 1px solid gray;
    margin-top: 3vw;
}

.logotipo
{
    width: 15vw;
    height:auto;
}