#visor
{
    display:grid;
}

iframe
{
    border-radius: 5px;
    border:1px solid grey;
    width: 30vw;
    height: 30vw;
    justify-self:center;
}

#botones
{
    margin:1% auto;
    display: grid;
    justify-content: center;
}

.autofirma
{
    width: 25%;
    padding:0.5% 0;
    margin: 1% auto;
    color: white;
    background-color: #3b5998;
}

.autofirma:hover
{
    background-color:deepskyblue;
}

#descarga a
{
    text-decoration: none;
    color:white;
    width:100%;
    display:block;
}
