{% extends 'base.html' %}
{% load static %}

{% block title %}Registro de pdf{% endblock title %}
{% block content %}
    {%include 'includes/header.html' %}
    <div class="container">
        <div class="row justify-content-md-center">
            <h1 class="display-5 text-center">¿Quiere generar un pdf con su solicitud?</h1>
            <div class="card col col-lg-9 my-2">
                <div class="card-header bg-transparent border-success">
                    <img src="{% static 'admin/img/logo.jpg' %}" class='logotipo' alt="Logo de Tangram">
                </div>
               
                <div class="card-body text-success">
                    <p class="card-text">Estimado {{nombre}} {{apellidos}} con dni {{dni}},</p>
                    <p class="card-text">A continuación recogemos el texto de su solicitud: {{texto}}</p>
                    <p class="card-text">Dándole las gracias atentamente con fecha de {{fecha}}.</p>
                </div>

                <div class="card-footer bg-transparent border-success">
                    <img src="{% static 'admin/img/logo.jpg' %}" class='logotipo' alt="Logo de Tangram">
                </div>
            </div>
            <form action="{% url 'firma_app:firma-pdf' %}" method="POST">{% csrf_token %}
                <input type="hidden" name="nombre" value="{{nombre}}">
                <input type="hidden" name="apellidos" value="{{apellidos}}">
                <input type="hidden" name="dni" value="{{dni}}">
                <input type="hidden" name="texto" value="{{texto}}">
                <input type="hidden" name="fecha" value="{{fecha}}">
                <div class="container">
                    <div class="row">
                      <div class="col text-center">
                        <input class="btn btn-primary text-center" type="submit" value="Aceptar">
                      </div>
                      <div class="col text-center">
                        <a href="{% url 'firma_app:firma-formulario'%}" class="btn btn-primary">Volver</a>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {%include 'includes/footer.html' %}
{% endblock content %}