{% extends 'base.html' %}
{% load static %}

<!-- Título de la página -->
{% block title %}Visor de pdf{% endblock title %}

<!-- Bloque CSS -->
{% block css %}<link rel="stylesheet" href="{% static 'admin/css/admin/estilos_visor.css' %}">{%endblock css%}

<!-- Bloque JS -->
{% block js%}
<script src="{% static 'admin/js/admin/firmar_pdf.js' %}"></script>
{% endblock js%}

<!-- Bloque de contenido -->
{% block content %}

    <!-- Cabecera de la página -->
    {%include 'includes/header.html' %}

        <!-- VISOR PARA MOSTRAR EL PDF AL USUARIO -->
        <div id="visor">
            <iframe src="{% static 'pdfs_generados/' %}{{filename}}"></iframe>
        </div>
        
        <!-- FIN DE LA APP V1 -->
        <div class="container">
            <div class="row">
                <button id="autofirma">Firmar</button>
            </div>
        </div>
    {%include 'includes/footer.html' %}
{% endblock content %}
