{% extends 'base.html' %}
{% load static %}

<!-- Título de la página -->
{% block title %} Solicitud {% endblock title %}

<!-- Bloque de JS -->
{% block js %}
<script src="{% static 'admin/js/admin/validacion.js' %}"></script>
{% endblock js%}

<!-- Bloque de contenido de la página -->
{% block content %}

    <!-- Cabecera de la página -->
    {%include 'includes/header.html' %}

    <!-- Formulario de solicitud para el usuario -->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <h1 class="display-5 text-center">Formulario de solicitud</h1>
                <form class="shadow-lg p-3 mb-5 bg-body rounded" action="{% url 'firma_app:firma-datos' %}" method='POST'>{% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre_usuario" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" placeholder="Introduzca su nombre...">
                        <div id="error_nombre" class="form-text text-danger"></div>
                    </div>

                    <div class="mb-3">
                        <label for="nombre_usuario" class="form-label">Primer apellido</label>
                        <input type="text" class="form-control" id="apellido1_usuario" name="apellido1_usuario" placeholder="Introduzca primer apellido...">
                        <div id="error_apellido1" class="form-text text-danger"></div>
                    </div>

                    <div class="mb-3">
                        <label for="nombre_usuario" class="form-label">Segundo apellido</label>
                        <input type="text" class="form-control" id="apellido2_usuario" name="apellido2_usuario" placeholder="Introduzca segundo apellido...">
                        <div id="error_apellido2" class="form-text text-danger"></div>
                    </div>

                    <div class="mb-3">
                        <label for="dni_usuario" class="form-label">DNI</label>
                        <input type="text" class="form-control" id="dni_usuario" name="dni_usuario" placeholder="Introduzca su dni...">
                        <div id="error_dni" class="form-text text-danger"></div>
                    </div>

                    <div class="mb-3">
                        <label for="floatingTextarea">Texto</label>
                        <textarea class="form-control" placeholder="Introduzca el texto de su solicitud aquí" id="texto_usuario" name="texto_usuario"></textarea>
                        <div id="error_texto" class="form-text text-danger"></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <button type="submit" id="enviar">Enviar</button>
                        </div>
                    </div>
                </form>
                
                <!-- Error en caso de que los datos sean manipulados o no sean correctos -->
                <div id="error_manipulacion" class="text-center text-danger fs-3">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>    

    <!-- Pié de la página -->
    {%include 'includes/footer.html' %}

{% endblock content %}

