{% extends 'base.html' %}
{% load static %}

<!-- Título de la página -->
{% block title %} Solicitud {% endblock title %}

<!-- Bloque de JS-->
{% block js %}<script src="{% static 'admin/js/admin/validacion.js'%}"></script>{% endblock js%}

<!-- Bloque de contenido de la página -->
{% block content %}

    <!-- Cabecera de la página -->
    {%include 'includes/header.html' %}
    
    <!-- Formulario de solicitud para el usuario-->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <h1 class="display-5 text-center">Formulario de solicitud</h1>
                <form class="shadow-lg p-3 mb-5 bg-body rounded" action="{% url 'firma_app:firma-datos' %}" method='POST'>{% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre_usuario" class="form-label">Nombre</label>
                        {{form.nombre}}
                        <div id="error_nombre" class="form-text text-danger"></div>
                        {% if form.nombre.errors %}
                        <div class="form-text">{{form.nombre.errors}}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="nombre_usuario" class="form-label">Primer apellido</label>
                        {{form.primer_apellido}}
                        <div id="error_apellido1" class="form-text text-danger"></div>
                        {% if form.primer_apellido.errors %}
                        <div class="form-text">{{form.primer_apellido.errors}}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="nombre_usuario" class="form-label">Segundo apellido</label>
                        {{form.segundo_apellido}}
                        <div id="error_apellido2" class="form-text text-danger"></div>
                        {% if form.segundo_apellido.errors %}
                        <div class="form-text">{{form.segundo_apellido.errors}}</div>
                        {% endif %}
                    </div>
                    
                    <div class="mb-3">
                        <label for="dni_usuario" class="form-label">DNI</label>
                        {{form.dni}}
                        <div id="error_dni" class="form-text text-danger"></div>
                        {% if form.dni.errors %}
                        <div class="form-text">{{form.dni.errors}}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="floatingTextarea">Texto</label>
                        {{form.texto}}
                        <div id="error_texto" class="form-text text-danger"></div>
                        {% if form.texto.errors %}
                        <div class="form-text">{{form.texto.errors}}</div>
                        {% endif %}
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <button type="submit" id="enviar">Enviar</button>
                        </div>
                    </div>
                </form>

                <!-- Error en caso de que los datos sean manipulados o no sean correctos -->
                <div id="error_manipulacion" class="text-center text-danger fs-3">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>    


    <!-- Pié de la página -->
    {%include 'includes/footer.html' %}

{% endblock content %}

