{%load static %}
<footer id="pie_principal">
    <div>
        <span><a href="https://tangrambpm.es/?page_id=4960">Contacto comercial</a></span>
        <span><a href="https://tangrambpm.es/?page_id=4670">Solicite una demo</a></span>
        <span><a href="https://tangrambpm.es/?page_id=5547">Trabaja en TangramBPM</a></span>
    </div>
    <div>
        <span><a href="https://tangrambpm.es/?page_id=5382">Aviso Legal</a></span>
        <span><a href="https://tangrambpm.es/?page_id=4252">Política de privacidad</a></span>
        <span><a href="https://tangrambpm.es/?page_id=5394">Política de cookies</a></span>
    </div>
</footer>